* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Exo 2', sans-serif;
}
div{
  width:400px;
  height:400px;
  position:relative;
  margin:20px;
  display:inline-block;
}
.imagen{
  width:400px;
  position:absolute;
}
span{
  position:absolute;
  bottom: 20px;
  right:16px;
  color: white;
}

.linea{
  background-color: black;
  width: 100px;
  height: 4px;

}
